<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="MsSqlConnection"
         connectionString="Data Source=(localdb)/\MSSQLLocalDB;Initial Catalog=SnakeDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="MySqLiteConnection" connectionString="Data Source=.\highscoresDb.db" />
  </connectionStrings>

  <appSettings>
    <add key="img1" value="https://cdn.pixabay.com/photo/2015/02/28/15/25/snake-653639_960_720.jpg" />
    <add key="img2" value="https://cdn.pixabay.com/photo/2014/12/25/14/54/snake-579682_960_720.jpg" />
    <add key="img3" value="https://cdn.pixabay.com/photo/2014/11/21/15/33/snake-540656_960_720.jpg" />
    <add key="img4" value="https://cdn.pixabay.com/photo/2010/12/14/16/46/snake-3237_960_720.jpg" />
    <add key="img5" value="https://cdn.pixabay.com/photo/2014/06/28/16/53/grass-snake-379025_960_720.jpg" />
    <!--<add key="highScoreStorageMethod" value="msSqlDatabase" />-->
    <add key="highScoreStorageMethod" value="sqLiteDatabase" />
    <!--<add key="highScoreStorageMethod" value="file" />-->

    <add key="highScoreStorageFileName" value="highscores.txt" />
  </appSettings>
</configuration>